$lightgreen: lighten(rgb(0, 158, 61), 10);
$green: green;
$gray: gray;
$lightgray: lighten(lightgray, 6);
$red: red;
$blue: blue;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h4 {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: gray;
}

.user-container {
    margin: auto;
    margin-top: 10rem;
    max-width: 400px;
    border: $lightgray solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(136, 136, 136, 0.1);
    
    display: grid;
    grid-template-rows: 5rem 2rem 8rem minmax(8rem, auto);

    & > :not(div:last-child) {
        border-bottom: lightgray solid 1px;
    }

    & > div {
        padding: 0.5rem 1rem;
    }
    & > div.category {
        padding: 0.5rem 1.3rem;
    }

    div {
        display: inline-block;
    }


    /// BASE INFO START
    .base-info {
        display: grid;
        grid-template-columns: 2fr 10fr 4fr;
        grid-gap: 0.8rem;

        .profile-picture {
            display: flex;
            height: 100%;
            width: 100%;

            .image {
                background-color: $gray;
                border-radius: 50%;
                width: 100%;
                align-self: center;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                .user-status {
                    background-color: $lightgreen;
                    border: 0.15rem solid white;
                    border-radius: 50%;
                    width: 30%;
                    align-self: center;
                    position: absolute;
                    bottom: 0;
                    right: 0;
    
                    &:after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }
                }
            }
        }

        .personal-info {
            margin: auto;

            .phone {
                a {
                    color: $gray;
                    text-decoration: none;
                }

                .flag img {
                    height: 0.7rem;
                }
            }
        }

        .controls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
            align-items: center;
            justify-items: center;

            .control {
                $control-size: 2.2rem;
                color: $gray;
                border: $lightgray solid 1px;
                border-radius: 5px;
                height: $control-size;
                width: $control-size;
                display: flex;

                svg {
                    margin: auto;
                }
            }
            
            .active {
              color: $lightgreen;
              border-color: $lightgreen;
              background-color: transparentize($lightgreen, 0.75);
            }
        }
    }
    /// BASE INFO END

    /// CATEGORY START
    .category {
        background-color: transparentize($green, 0.95);
        display: flex;

        .active-in {
            $spacing: 1rem;
            padding-right: $spacing;
            margin-right: $spacing;
            border-right: 1px solid $lightgray;
        }
        p {
            color: $gray;
        }
    }
    /// CATEGORY END
}