$green: green;
$gray: lightgray;
$red: red;
$blue: blue;

p {
    margin: 0;
}

.user-container {
    margin: auto;
    margin-top: 10rem;
    height: 400px;
    width: 400px;
    border: lightgray solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgb(136,136,136);
    
    display: grid;
    grid-template-rows: 100px 33px 133px auto;

    & > :not(div:last-child) {
        border-bottom: lightgray solid 1px;
    }

    & > div {
        padding: 1rem;
    }
    & > div.category {
        padding: 0.5rem 1.3rem;
    }

    div {
        display: inline-block;
    }
}